@media (max-width: 1026px) {

}
@media (max-width: 500px) {
     .office_tab_body,
     .office_tab_body_holder_header{
          padding: 10px 15px !important;
     }
     .office_tab_body_holder_header{
          height: 59.6px;
          gap: 15px;
     }
     .office_tab_body{
          height: 156.7px;
     }
     .office_tab_body_2{
          height: calc(100dvh - 30px - 59.6px - 156.7px);
          overflow-y: auto;
     }
     .office_documents{
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     }
     .img_plus{
          width: 40%;
          aspect-ratio: 16/9;
          position: relative;
     }
     .img_plus img{
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
     }
     .office_tab_body_holder_header .search_doc{
          width: 100%;
     }
     .office_tab_body_holder_header .search_doc input{
          padding: 6px 15px;
          padding-left: 30px;
     }
     .srch_icon{
          left: 8px;
     }
     .office_tab_body_holder_header img{
          width: 1rem;
     }
     .office_tab_body_holder_header .span_s2{
          display: none;
     }
     .officeSearchDrop ul li img {
          width: .8rem;
     }
     .officeSearchDrop ul li span {
          font-size: 10px;
     }
     .officeSearchDrop ul li p {
          font-size: 9px;
     }
     .create_doc{
          width: 80%;
     }
     .create_doc input{
          padding: 8px;
     }
     .create_doc span{
          font-size: 12px;
     }
     .btns button{
          padding: 8px 10px;
          font-size: 12px;
     }
     .tab.wide .rdw-editor-toolbar {
          border-radius: 6px;
     }
     .document_summary{
          display: none;
     }
     .editorClassName{
          margin: 10px !important;
          height: 40dvh !important;
     }
     .list_view span h4{
          font-size: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: top;
          white-space: nowrap;
          max-width: 100%;
     }
     .list_view span h5{
          font-size: 9px;
     }
     .list_view span:first-of-type {
          gap: 13px !important;
          width: 100px;
          max-width: 100px;
     }
     .document_box{
          aspect-ratio: 3/2;
     }
     .drop_list {
          width: 190px;
     }
     .drop_list ul li{
          font-size: 12px;
     }
}
@media (min-width: 501px) {
     .tab.wide .editorClassName{
          height: 75.1dvh !important;
     }
}
