@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     scrollbar-width: none !important;
 }
 *::after, *::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 ::-webkit-scrollbar{
   width: 0px;
 }
 :root{
     --bg-color: #000;
     --theme-color: #e81123;
     --link-color: #0b57d0;
     --soft-link-color: #3b9bec;
     --doc-color: #3d92ef;
     --favourite: #ffd900;
     --primary: #c2e7ff;
     --close-color: #e4002b;
     --light-color: #fff;
     --soft-light-color: rgba(255,255,255,.7);
     --office-color: #f9fbfd;
     --office-hover: #e0e5ec;
     --bottom-bar-color: #0f0f0f;
     --main-color: #191919;
     --tab-color: #202020;
     --selection-color: #62b1da50;
     --soft-selection-color: #51b6ec;
   }
   body{
     background-color: var(--bg-color);
     color: var(--light-color);
     overflow: hidden;
     font-size: 100%;
   }
   ul{
    list-style: none;
   }
   a{
    text-decoration: none;
    color: var(--light-color);
   }
   img{
    user-select: none !important;
   }
   ::selection{
    background-color: var(--selection-color);
   }
   .df{
    display: flex;
    align-items: center;
    gap: 10px;
   }
   .start{
    align-self: flex-start;
   }
   .gap-20{
    gap: 20px;
   }
   .title{
    font-weight: 400;
    font-size: 14px;
    color: var(--light-color);
   }
   .title-sm{
    font-weight: 300;
    font-size: 12px;
    color: var(--light-color);
   }
   .bold{
    font-weight: bold !important;
   }
   .soft-txt{
    font-weight: 300;
    font-size: 12px;
    color: var(--soft-light-color);
    line-height: 1.8;
   }
   .soft-txt-dark{
    font-weight: 300;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.8;
   }
   .tab{
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(6px);
    height: calc(100dvh - 15dvh);
    width: calc(100dvw - 25dvw);
    position: fixed;
    top: 5dvh;
    left: calc(25dvw / 2);
    /* transition: 250ms ease-in-out; */
    z-index: 9999999;
    overflow: hidden;
   }
   .tab:not(.wide){
    /* resize: both; */
    border-radius: 4px;
   }
   .tab.wide{
    inset: 0 !important;
    width: 100dvw !important ;
    height: calc(100dvh) !important;
   }
   .tab.close{
    opacity: 0;
    z-index: -666;
    pointer-events: none;
   }
   .tab_title{
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    position: relative;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 99999;
   }
   .tab_title img{
    width: 20px;
   }
   .tab_utils{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
   }
   .tab_util_icon{
    height: 100%;
    aspect-ratio: 1/.9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms ease-in-out;
    cursor: pointer;
   }
   .tab_util_icon.close:hover{
    background-color: var(--close-color);
    color: var(--light-color);
   }
   .tab_util_icon:hover{
    background-color: rgba(255, 255, 255, .1);
   }
   .desktip_icon{
    width: 5rem;
    aspect-ratio: 1/.9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 250ms ease-in-out;
   }
   .desktip_icon:hover{
    background-color: var(--selection-color);
    border-color: var(--soft-selection-color);
   }
   .desktip_icon img{
    width: 3rem;
   }
   .primaryBtn{
    padding: 15px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    border-radius: 13px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: .95rem;
    color: rgba(0, 0, 0, .85);
    color: #041e49;
    transition: 150ms ease-in-out;
   }
   .primaryBtn:active{
    transform: scale(.99);
   }
   .primaryBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

   }
   .primaryBtn svg{
    font-size: 1.2rem;
   }
   .icon_1{
    width: 28px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, .6);
    border-radius: 50%;
    transition: 250ms ease-in-out;
    cursor: pointer;
    position: relative;
   }
   .icon_1.disabled{
    opacity: .5;
    cursor: no-drop;
   }
   .icon_1.active,
   .icon_1:hover{
    background-color: rgba(0, 0, 0, .1);
   }
   .light_icon:hover{
    background-color: rgba(255, 255, 255, .1) !important;
   }
   .icon_1 svg{
    font-size: 1.5rem;
    transition: 250ms ease-in-out;
   }
   .icon_3 svg{
    font-size: 1rem !important;
   }
   .icon_2 svg{
    width: 1.8rem !important;
   }
   .icon_1.active svg{
    color: var(--doc-color);
   }
   .icon_1.active:hover svg{
    filter: brightness(.8);
   }

   .icon_2.active svg{
    color: var(--favourite);
   }
   .big_icon{
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 250ms ease-in-out;
   }
   .big_icon:hover{
    background-color: rgba(0, 0, 0, 0.037);
   }
   .dark{
    color: var(--bg-color) !important;
   }