.settings_body {
  height: calc(100%);
  overflow-y: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 268px 1fr;
}
.settings_body_part {
  max-height: 100%;
  overflow-y: auto;
  padding: 40px 0px;
}
.settings_body_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.settings_user_icon {
  width: 100%;
  padding: 0 20px;
}
.settings_user_icon img {
  max-width: 100%;
  width: 40%;
  filter: invert(1);
}
.settings_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.settings_info h5 {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.settings_info h3 {
  font-size: 15px;
  font-weight: 500;
}
.settings_body_left ul li {
  height: 39.2px;
  position: relative;
}
.settings_body_left ul li a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.settings_body_left ul li svg {
  font-size: 1.2rem;
  color: var(--theme-color);
}
.settings_body_left ul li a.active,
.settings_body_left ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.settings_body_left ul li a:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.settings_info {
  padding: 0 20px;
}
.settings {
  position: relative;
}
.settings .tab_title {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
}
.settings_body_right {
  background-color: var(--main-color);
  padding: 40px 10px !important;
}
/* .heading_title{
      border-bottom: 1px solid var(--soft-light-color);
      padding-bottom: 10px;
} */
.settings_header ul li {
  font-weight: 400;
}
.settings_header ul li:not(.active) {
  color: rgba(255, 255, 255, 0.5);
}
